/ {
	aliases {
		ethernet0 = &emac;
	};

	soc {
		emac: ethernet@01c30000 {
			compatible = "allwinner,sun50i-a64-emac";
			reg = <0x01c30000 0x2000>, <0x01c00030 0x4>;
			reg-names = "emac", "syscon";
			interrupts = <GIC_SPI 82 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&ccu RST_BUS_EMAC>;
			reset-names = "ahb";
			clocks = <&ccu CLK_BUS_EMAC>;
			clock-names = "ahb";
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&rmii_pins>;
			phy-mode = "rmii";
			phy = <&phy1>;
			snps,reset-gpio = <&pio 7 11 GPIO_ACTIVE_HIGH>;
			snps,reset-active-low;
			snps,reset-delays-us = <0 10000 1000000>;
			status = "okay";

			phy1: ethernet-phy@0 {
				reg = <0>;
			};
		};
	};
	
	leds {
		compatible = "gpio-leds";
		blue {
			label = "wanderer:blue";
			gpios = <&pio 7 9 GPIO_ACTIVE_HIGH>; /* PH9 */
			default-state = "on";
		};
		wifi_wake {
			label = "wifi:wake";
			gpios = <&r_pio 0 3 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		wifi_en {
			label = "wifi:en";
			gpios = <&r_pio 0 2 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		wifi_rst {
			label = "wifi:rst";
			gpios = <&r_pio 0 4 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};
	
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";
		eeprom: eeprom@57 {
		compatible = "atmel,24c02";
		reg = <0x57>;
		pagesize = <8>;
	};
	usb2514b@2c {
		compatible = "microchip,usb2514b";
		reg = <0x2c>;
		reset-gpios = <&pio 7 10 GPIO_ACTIVE_LOW>;
	};
};


&pio {
	i2c0_pins: i2c1_pins {
		pins = "PH0", "PH1";
		function = "i2c0";
	};
	rmii_pins: rmii_pins {
		allwinner,pins = "PD10", "PD11", "PD13", "PD14",
				 "PD17", "PD18", "PD19", "PD20",
				 "PD22", "PD23";
		allwinner,function = "emac";
		allwinner,drive = <3>;
		allwinner,pull = <0>;
	};

	rgmii_pins: rgmii_pins {
		allwinner,pins = "PD8", "PD9", "PD10", "PD11",
				 "PD12", "PD13", "PD15",
				 "PD16", "PD17", "PD18", "PD19",
				 "PD20", "PD21", "PD22", "PD23";
		allwinner,function = "emac";
		allwinner,drive = <3>;
		allwinner,pull = <0>;
	};
};
